{{#> ../layouts/base title='Dashboard - DIT' }}

  {{#*inline "main-block"}}

    <div class="fsa-section">
      <div class="fsa-section__bd">
        <h1>Portfolio Search</h1>
        
        {{> ../components/search-bar/search-bar useButtonGroup=true }}

      </div>
    </div>
    <div class="fsa-section">
      <div class="fsa-section__bd">
        <h2>Your Portfolio</h2>
        <div class="fsa-grid">
          <div class="fsa-grid__1/1 fsa-grid__1/3@m">
            <div class="dit-data-box">
              <div class="dit-data-box__title">Portfolio Risk Score</div>
              <div class="dit-data-box__bd dit-data-box__bd--lg">2115</div>
            </div>
          </div>
					<div class="fsa-grid__1/1 fsa-grid__1/3@m">
            <div class="dit-data-box">
              <div class="dit-data-box__title">Total Vulnerabilities</div>
              <div class="dit-data-box__bd dit-data-box__bd--lg">58</div>
            </div>
          </div>
          <div class="fsa-grid__1/1 fsa-grid__1/3@m">
            <div class="dit-data-box">
              <div class="dit-data-box__title">Top Artifact at Risk</div>
              <div class="dit-data-box__bd dit-data-box__bd--lg">really.bad.api.1.2</div>
            </div>
          </div>
        </div>
        
      </div>
    </div>

    <div class="fsa-section">
      <div class="fsa-section__bd">
        <h2>Top Applications at Risk</h2>
        
        <table class="fsa-table fsa-table--borderless fsa-table--responsive fsa-table--responsive-horizontal fsa-table fsa-table--middle fsa-table--fixed">
						<thead>
							<tr>
								<th aria-sort="descending" scope="col">
									<button class="fsa-table__sort fsa-table__sort--descending" type="button">Name</button>
								</th>
								<th scope="col">
									<button class="fsa-table__sort" type="button">Version</button>
								</th>
								<th scope="col">
									<button class="fsa-table__sort" type="button">Risk Score</button>
								</th>
								<th scope="col">
									<button class="fsa-table__sort" type="button">Ownership</button>
								</th>
								<th class="fsa-text-align--right" scope="col">Actions</th>
							</tr>
						</thead>
						<tbody>

							<tr>
								<td>
									CPAS
								</td>
								<td>3.1.0</td>
								<td><span class="fsa-label fsa-label--large fsa-label--alert">1432</span></td>
								<td>FSA</td>
								<td class="fsa-text-align--right">								
									<a class="fsa-btn fsa-btn--small fsa-btn--secondary" href="application-details.html">View Details</a>
								</td>
							</tr>
							<tr>
								<td>
									DIT
								</td>
								<td>0.1.5</td>
								<td><span class="fsa-label fsa-label--large fsa-label--warning">508</span></td>
								<td>FPAC</td>
								<td class="fsa-text-align--right">								
									<a class="fsa-btn fsa-btn--small fsa-btn--secondary" href="application-details.html">View Details</a>
								</td>
							</tr>
              <tr>
								<td>
									PCP II
								</td>
								<td>1.7.2</td>
								<td><span class="fsa-label fsa-label--large">175</span></td>
								<td>FPAC</td>
								<td class="fsa-text-align--right">								
									<a class="fsa-btn fsa-btn--small fsa-btn--secondary" href="application-details.html">View Details</a>
								</td>
							</tr>
						</tbody>
					</table>
				
					<a class="fsa-btn fsa-btn--secondary" href="#">View All Applications</a>

				</div>
        
      </div>
    </div>


  {{/inline}}

  {{#*inline "hidden-block"}}
    <!-- HIDDEN - FOR MODALS/GROWL CONTENT -->
    
    <!-- /HIDDEN -->
  {{/inline}}

{{/../layouts/base }}
