{{#> ../layouts/base title='Dashboard - DIT' }}

  {{#*inline "main-block"}}

    <div class="fsa-section">
      <div class="fsa-section__bd">
        <h1>Risk Calculator</h1>
        <p class="fsa-text--lead">This tool is designed to help determine how various factors can be used to magnify possible risk.</p>
        <div class="fsa-grid">
            <div class="fsa-grid__1/1 fsa-grid__1/1@m fsa-grid__1/2@l">
                <div class="dit-data-box">
                    <div class="dit-data-box__title">
                        Dependency Vulnerabilities
                    </div>
                    <div class="dit-data-box__content">
                        [ SLIDER ]
                    </div>
                </div>
            </div>
            <div class="fsa-grid__1/1 fsa-grid__1/1@m fsa-grid__1/3@l">
                <div class="dit-data-box">
                    <div class="dit-data-box__title">
                        Deprecation
                    </div>
                    <div class="dit-data-box__content">
                        [ SLIDER ]
                    </div>
                </div>
            </div>
            <div class="fsa-grid__1/1 fsa-grid__1/1@m fsa-grid__1/3@l">
                <div class="dit-data-box">
                    <div class="dit-data-box__title">
                        License
                    </div>
                    <div class="dit-data-box__content">
                        [ SLIDER ]
                    </div>
                </div>
            </div>
						<div class="fsa-grid__1/1 fsa-grid__1/1@m fsa-grid__1/3@l">
                <div class="dit-data-box">
                    <div class="dit-data-box__title">
                        Popularity
                    </div>
                    <div class="dit-data-box__content">
                        [ SLIDER ]
                    </div>
                </div>
            </div>
						<div class="fsa-grid__1/1 fsa-grid__1/1@m fsa-grid__1/3@l">
                <div class="dit-data-box">
                    <div class="dit-data-box__title">
                        Updates
                    </div>
                    <div class="dit-data-box__content">
                        [ SLIDER ]
                    </div>
                </div>
            </div>
						<div class="fsa-grid__1/1 fsa-grid__1/1@m fsa-grid__1/3@l">
                <div class="dit-data-box">
                    <div class="dit-data-box__title">
                        End of Life
                    </div>
                    <div class="dit-data-box__content">
                        [ SLIDER ]
                    </div>
                </div>
            </div>
        </div>




      </div>
    </div>
    
  {{/inline}}

  {{#*inline "hidden-block"}}
    <!-- HIDDEN - FOR MODALS/GROWL CONTENT -->
    
    <!-- /HIDDEN -->
  {{/inline}}

{{/../layouts/base }}
