
$size-base          : .4rem;            // 4px
$size-small         : $size-base * 2;   // 8px
$size-default       : $size-base * 3;   // 12px
$size-medium        : $size-base * 6;   // 24px
$size-large         : $size-base * 9;   // 36px
$size-extra-large   : $size-medium * 2; // 48px

$site-max-width: 1200px;

// Core Colors
$color-fsa-primary: #236430;
$color-fsa-primary-300: tint($color-fsa-primary, 19%);
$color-fsa-primary-200: tint($color-fsa-primary, 65%);
$color-fsa-primary-100: tint($color-fsa-primary, 85%);
$color-fsa-primary-900: shade($color-fsa-primary, 25%);

$color-fsa-secondary: #205493;
$color-fsa-secondary-300: tint($color-fsa-secondary, 21%);
$color-fsa-secondary-200: tint($color-fsa-secondary, 60%);
$color-fsa-secondary-100: tint($color-fsa-secondary, 85%);
$color-fsa-secondary-900: shade($color-fsa-secondary, 25%);

$color-fsa-tertiary: #494440;
$color-fsa-tertiary-300: tint($color-fsa-tertiary, 24%);
$color-fsa-tertiary-200: tint($color-fsa-tertiary, 80%);
$color-fsa-tertiary-100: tint($color-fsa-tertiary, 92%);
$color-fsa-tertiary-900: shade($color-fsa-tertiary, 35%);

$white: #FFFFFF;

$color-title: $color-fsa-tertiary;
$color-fsa-site-bg: tint($color-fsa-secondary, 97%);

$font-normal:         400 !default;
$font-semi-bold:      500 !default;
$font-bold:           700 !default;

$helvetica: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
$font-sans:  'Source Sans Pro', $helvetica;
$font-serif: $font-sans;
$font-mono:  "Bitstream Vera Sans Mono", "Consolas", "Menlo", "Monaco", "Courier New", "Courier", monospace;

$fsa-text-size--6: 42px;