<div class="fsa-m-t--m">
  {{> ../components/field/field CLASS_EXTRA="fsa-float--left" }}

  <select class="fsa-select fsa-float--left" name="Options ipsum">
    <option value="Option A" selected="selected">Dependency</option>
    <option value="Option B">Application</option>
  </select>
  <button data-behavior="" class="fsa-btn fsa-btn--primary" type="button">Search</button>
</div>